body {
    margin: 0;
    background-color: rgb(191, 203, 214);
    font-family: 'Roboto';
    color: rgb(225, 238, 237);
}

a {
    text-decoration: none;
}

.container-grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 30vw auto;
    grid-template-rows: 10vw 25vw auto;
}

nav {
    grid-column: 1;
    grid-area: span 3;
    background-color: aliceblue;
    border-right: solid 4px rgb(18, 71, 131);
}

.nav-list {
    list-style: none;
    margin-top: 9em;
    margin-left: 3vw;
}

.nav-list-element {
    font-size: 70px;
    margin-bottom: 2.5em;
}

.nav-list-element:hover {
    text-decoration: underline;
}

.nav-list-element a {
    color: rgb(18, 71, 131);
}

#title {
    text-align: center;
    font-size: 3em;
}

.paragraph {
    grid-column: 2;
    margin-left: 1vw;
}

.paragraph h1 {
    font-size: 70px;
    margin-left: 1.5vw;
}

.paragraph p {
    font-size: 35px;
}