body {
    margin: 0;
    background-color: rgb(191, 203, 214);
    font-family: 'Nunito';
    color: rgb(225, 238, 237);
}

a {
    text-decoration: none;
}

nav {
    position: absolute;
    background-color: aliceblue;
    top: 0;
    width: 700px;
    height: 120%;
    border-right: solid 4px rgb(18, 71, 131);
}

div {
    margin-left: 800px;
}

.nav-list {
    font-size: 80px;
    font-weight: bold;
    margin-top: 200px;
    margin-left: 130px;
}

.nav-list-element {
    list-style: none;
    margin-bottom: 250px;
}

.nav-list-element a {
    color: rgb(18, 71, 131);
}

#title {
    display: block;
    margin-left: 12em;
    font-size: 100px;
}

div {
    margin: 100px 0 50px 55em;
    width: 90em;
}

div h1 {
    font-size: 90px;
}

div p {
    font-size: 50px;
    font-weight: bold;
    line-height: 2;
}